.book-details {
    margin-top: 10px;
  }
  
  .book-details button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 6px 10px;
    font-size: 12px;
    cursor: pointer;
  }
  