.skill-card {
    flex: 0 0 20%; /* reduce the size of each card */
    margin: 15px; /* add margin to create gaps between cards */
    padding: 10px;
    background-color: #444;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.skill-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.skill-card img {
    width: 100%;
    height: auto;
}
