.container {
  margin: 0 auto;
  padding: 0 1rem;
  color: #ffffff;
  background-color: #333;
  min-height: 100vh; /* take up full height of screen */
}

.title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  margin: 5px 0;
}

.link {
  color: #0af;
  text-decoration: none;
}

.date {
  font-size: 0.8rem;
}
